<div [formGroup]="form">
    <div class="page-header mb-0">
        <h1>Case Information</h1>
    </div>
    <h2 class="blue-header mt-0">Victim / Civil Protected Party Information</h2>

    <div class="row">
        <div class="col-md-4">
            <app-field label="First Name" [required]="true" [valid]="isFieldValid('firstName')" errorMessage="Please enter your first name">
                <input class="form-control" type="text" formControlName="firstName" maxlength="100" (change)="setApplicantInfoSameAsVictim(form.parent)">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Middle Name" [required]="false" [valid]="isFieldValid('middleName')" errorMessage="Please enter your middle name">
                <input class="form-control" type="text" formControlName="middleName" maxlength="100" (change)="setApplicantInfoSameAsVictim(form.parent)">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Last Name" [required]="true" [valid]="isFieldValid('lastName')" errorMessage="Please enter your last name">
                <input class="form-control" type="text" formControlName="lastName" maxlength="100" (change)="setApplicantInfoSameAsVictim(form.parent)">
            </app-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 date-col">
            <app-field label="Birth Date" [required]="true" [valid]="isFieldValid('birthDate')" errorMessage="Please enter your birth date">
                <app-date-field [control]="form.get('birthDate')" [max]="today"></app-date-field>
            </app-field>
        </div>

        <div class="col flex-col">
            <app-field label="Gender" [required]="true" [valid]="isFieldValid('gender')" errorMessage="Please select your gender">
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.Male.val" name="gender" formControlName="gender">
                    <span>M</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.Female.val" name="gender" formControlName="gender">
                    <span>F</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.X.val" name="gender" formControlName="gender">
                    <span>X</span>
                </label>
            </app-field>
        </div>
    </div>

    <h2 class="blue-header">Court Information</h2>

    <div formArrayName="courtInfo" *ngFor="let item of form.get('courtInfo')['controls']; let i = index;">
        <div [formGroupName]="i" class="court-info">
            <div class="row">
                <div class="col-md-4">
                    <app-field label="Court File Number" [required]="true" [valid]="isMyControlValid(item.get('courtFileNumber'))" errorMessage="Please enter the court file number">
                        <input class="form-control" type="text" formControlName="courtFileNumber" maxlength="100">
                    </app-field>
                </div>
                <div class="col-md-4">
                    <app-field label="Court Location" [required]="true" [valid]="isMyControlValid(item.get('courtLocation'))" errorMessage="Please enter a court location">
                        <input class="form-control" type="text" formControlName="courtLocation" [typeahead]="courtList">
                    </app-field>
                </div>
                <div class="col remove-button" *ngIf="form.get('courtInfo')['controls'].length > 1">
                    <br>
                    <i class="fas fa-times-circle text-danger center-clear-btn" (click)="removeAdditionalCourtInfo(i)"></i>
                </div>
            </div>
        </div>
    </div>

    <div>
        <button class="btn btn-secondary" (click)="addAdditionalCourtInfo()">+ ADD ADDITIONAL COURT FILE</button>
    </div>

    <h2 class="blue-header">Accused / Offender / Respondent Information</h2>
    <div class="row">
        <div class="col-md-4">
            <app-field label="First Name" [required]="true" [valid]="isFieldValid('accusedFirstName')" errorMessage="Please enter first name">
                <input class="form-control" type="text" formControlName="accusedFirstName" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Middle Name" [required]="false" [valid]="isFieldValid('accusedMiddleName')" errorMessage="Please enter middle name">
                <input class="form-control" type="text" formControlName="accusedMiddleName" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Last Name" [required]="true" [valid]="isFieldValid('accusedLastName')" errorMessage="Please enter last name">
                <input class="form-control" type="text" formControlName="accusedLastName" maxlength="100">
            </app-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 date-col">
            <app-field label="Birth Date" [required]="false" [valid]="isFieldValid('accusedBirthDate')" errorMessage="Please enter birth date">
                <app-date-field [control]="form.get('accusedBirthDate')" [max]="today"></app-date-field>
            </app-field>
        </div>
        <div class="col flex-col">
            <app-field label="Gender" [valid]="isFieldValid('accusedGender')">
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.Male.val" name="accusedGender" formControlName="accusedGender">
                    <span>M</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.Female.val" name="accusedGender" formControlName="accusedGender">
                    <span>F</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.X.val" name="accusedGender" formControlName="accusedGender">
                    <span>X</span>
                </label>
            </app-field>
        </div>
    </div>

    <div class="additionalAccused" formArrayName="additionalAccused" *ngFor="let item of form.get('additionalAccused')['controls']; let i = index;">
        <div [formGroupName]="i" class="additional-accused">
            <div class="row">
                <div class="col-md-6">
                    <app-field label="Name of Additional Accused / Offender">
                        <input class="form-control" type="text" formControlName="name" maxlength="100">
                    </app-field>
                </div>
                <div class="col-md-6 flex-col date-col">
                    <app-field label="Birth Date" class="full-width">
                        <app-date-field [control]="item.get('birthDate')" [max]="today"></app-date-field>
                    </app-field>

                    <div class="remove-button" *ngIf="form.get('additionalAccused')['controls'].length > 1">
                        <br>
                        <i class="fas fa-times-circle text-danger center-clear-btn" (click)="removeAdditionalAccused(i)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-additional-btn-container">
        <button class="btn btn-secondary" (click)="addAdditionalAccused()">+ ADD ADDITIONAL ACCUSED / OFFENDER</button>
    </div>
</div>