<div [formGroup]="form">
    <div class="page-header mb-0">
        <h1>Case Information</h1>
    </div>
    <h2 class="blue-header mt-0">Victim<span *ngIf="formType === ApplicationType.NOTIFICATION"> / Civil Protected Party</span> Information</h2>

    <div [class.is-disabled]="isDisabled" *ngIf="formType === ApplicationType.TRAVEL_FUNDS">
        <label class="inline-label inline-checkbox">
            <input type="checkbox" [value]="true" name="victimInfoSameAsApplicant" formControlName="victimInfoSameAsApplicant" (change)="setVictimInfoSameAsApplicant(form.parent)">
            <span>Select if the Victim's name is the same as Applicant in the previous section</span>
        </label>
    </div>

    <div class="row">
        <div class="col-md-4">
            <app-field label="First Name" [required]="true" [valid]="isMyControlValid(form.get('firstName'))" errorMessage="Please enter your first name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="firstName" maxlength="100" (change)="setApplicantInfoSameAsVictim(form.parent)">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Middle Name" [required]="false" [valid]="isMyControlValid(form.get('middleName'))" errorMessage="Please enter your middle name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="middleName" maxlength="100" (change)="setApplicantInfoSameAsVictim(form.parent)">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Last Name" [required]="true" [valid]="isMyControlValid(form.get('lastName'))" errorMessage="Please enter your last name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="lastName" maxlength="100" (change)="setApplicantInfoSameAsVictim(form.parent)">
            </app-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 date-col">
            <app-field label="Birth Date" [required]="true" [valid]="isMyControlValid(form.get('birthDate'))" errorMessage="Please enter your birth date" [disabled]="isDisabled">
                <app-date-field [control]="form.get('birthDate')" [max]="today" (change)="setApplicantInfoSameAsVictim(form.parent)" [disabled]="form.get('victimInfoSameAsApplicant').value"></app-date-field>
            </app-field>
        </div>

        <div class="col flex-col">
            <app-field label="Gender" [required]="true" [valid]="isMyControlValid(form.get('gender'))" errorMessage="Please select your gender" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="enum.Gender.Male.val" name="gender" formControlName="gender" (change)="setApplicantInfoSameAsVictim(form.parent)">
                    <span>M</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.Gender.Female.val" name="gender" formControlName="gender" (change)="setApplicantInfoSameAsVictim(form.parent)">
                    <span>F</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.Gender.X.val" name="gender" formControlName="gender" (change)="setApplicantInfoSameAsVictim(form.parent)">
                    <span>X <app-tool-tip [trigger]="genderXToolTip"></app-tool-tip></span>
                </label>
            </app-field>
        </div>
    </div>
    <ng-template #genderXToolTip>Use this category if you do not wish to report gender as exclusively male or female.</ng-template>

    <h2 class="blue-header">Court Information</h2>

    <div formArrayName="courtInfo" *ngFor="let item of form.get('courtInfo')['controls']; let i = index;">
        <div [formGroupName]="i" class="court-info">
            <div class="row">
                <div class="col-md-4">
                    <app-field label="Court File Number" [required]="true" [valid]="isMyControlValid(item.get('courtFileNumber'))" errorMessage="Please enter the court file number" [disabled]="isDisabled">
                        <input class="form-control" type="text" formControlName="courtFileNumber" maxlength="100">
                    </app-field>
                </div>
                <div class="col-md-4">
                    <app-field label="Court Location" [required]="true" [valid]="isMyControlValid(item.get('courtLocation'))" errorMessage="Please enter a court location" [disabled]="isDisabled">
                        <input class="form-control" type="text" formControlName="courtLocation" [typeahead]="courtList">
                    </app-field>
                </div>
                <div class="col remove-button" *ngIf="form.get('courtInfo')['controls'].length > 1 && !isDisabled">
                    <br>
                    <i class="fas fa-times-circle text-danger center-clear-btn" (click)="removeAdditionalCourtInfo(i)"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="formType === ApplicationType.TRAVEL_FUNDS">
        <div class="col-md-6">
            <app-field label="Offence" [required]="true" [valid]="isMyControlValid(form.get('offence'))" errorMessage="Please select an offence" [disabled]="isDisabled">
                <!-- <input formControlName="offence" typeaheadOptionField="vsd_name" [typeahead]="offenceList" class="form-control"> -->
                <select class="form-control" formControlName="offence">
                    <option value="">Select one</option>
                    <option *ngFor="let offence of offenceList" [value]="offence.vsd_offenseid">
                        {{ offence.vsd_name }}
                    </option>
                </select>
            </app-field>
        </div>
    </div>

    <div *ngIf="formType === ApplicationType.NOTIFICATION">
        <button *ngIf="!isDisabled" class="btn btn-secondary" (click)="addAdditionalCourtInfo()">+ ADD ADDITIONAL COURT FILE</button>
    </div>

    <h2 class="blue-header">Accused / Offender<span *ngIf="formType === ApplicationType.NOTIFICATION"> / Respondent Information</span></h2>
    <div class="row">
        <div class="col-md-4">
            <app-field label="First Name" [required]="true" [valid]="isMyControlValid(form.get('accusedFirstName'))" errorMessage="Please enter first name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="accusedFirstName" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Middle Name" [required]="false" [valid]="isMyControlValid(form.get('accusedMiddleName'))" errorMessage="Please enter middle name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="accusedMiddleName" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Last Name" [required]="true" [valid]="isMyControlValid(form.get('accusedLastName'))" errorMessage="Please enter last name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="accusedLastName" maxlength="100">
            </app-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 date-col">
            <app-field label="Birth Date" [required]="false" [valid]="isMyControlValid(form.get('accusedBirthDate'))" errorMessage="Please enter birth date" [disabled]="isDisabled">
                <app-date-field [control]="form.get('accusedBirthDate')" [max]="today" [disabled]="isDisabled"></app-date-field>
            </app-field>
        </div>
        <div class="col flex-col">
            <app-field label="Gender" [valid]="isMyControlValid(form.get('accusedGender'))" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="enum.Gender.Male.val" name="accusedGender" formControlName="accusedGender">
                    <span>M</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.Gender.Female.val" name="accusedGender" formControlName="accusedGender">
                    <span>F</span>
                </label>
            </app-field>
        </div>
    </div>

    <div class="additionalAccused" formArrayName="additionalAccused" *ngFor="let item of form.get('additionalAccused')['controls']; let i = index;">
        <div [formGroupName]="i" class="additional-accused">
            <div class="row">
                <div class="col-md-6">
                    <app-field label="Name of Additional Accused / Offender" [disabled]="isDisabled">
                        <input class="form-control" type="text" formControlName="name" maxlength="100">
                    </app-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 flex-col">
                    <app-field label="Birth Date" class="full-width" [disabled]="isDisabled">
                        <app-date-field [control]="item.get('birthDate')" [max]="today" [disabled]="isDisabled"></app-date-field>
                    </app-field>
                </div>
                <div class="col-md-6 flex-col date-col">
                    <app-field label="Gender" [disabled]="isDisabled">
                        <label class="inline-label">
                            <input type="radio" [value]="enum.Gender.Male.val" name="gender" formControlName="gender">
                            <span>M</span>
                        </label>
                        <label class="inline-label">
                            <input type="radio" [value]="enum.Gender.Female.val" name="gender" formControlName="gender">
                            <span>F</span>
                        </label>
                    </app-field>

                    <div class="remove-button" *ngIf="form.get('additionalAccused')['controls'].length > 1">
                        <br>
                        <i class="fas fa-times-circle text-danger center-clear-btn" (click)="removeAdditionalAccused(i)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-additional-btn-container">
        <button *ngIf="!isDisabled" class="btn btn-secondary" (click)="addAdditionalAccused()">+ ADD ADDITIONAL ACCUSED / OFFENDER</button>
    </div>

    <section *ngIf="formType === ApplicationType.TRAVEL_FUNDS">

        <p><strong>Crown Counsel (if known)</strong></p>

        <div class="crown-counsel-container" formArrayName="crownCounsel" *ngFor="let item of form.get('crownCounsel')['controls']; let i = index;">
            <div [formGroupName]="i" class="crown-counsel">
                <div class="row">
                    <div class="col-md-4">
                        <app-field label="First Name" [required]="false" [valid]="isMyControlValid(item.get('firstName'))" errorMessage="Please enter first name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="firstName" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col-md-4">
                        <app-field label="Last Name" [required]="false" [valid]="isMyControlValid(item.get('lastName'))" errorMessage="Please enter last name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="lastName" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col-md-4">
                        <app-field label="Telephone" [required]="false" [valid]="isMyControlValid(item.get('telephone'))" errorMessage="Please enter a phone number" [disabled]="isDisabled">
                            <input class="form-control" mask='000-000-0000' type="text" formControlName="telephone">
                        </app-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="victimServiceWorker" formArrayName="victimServiceWorker" *ngFor="let item of form.get('victimServiceWorker')['controls']; let i = index;">
            <app-victim-service-worker [formGroupName]="i" [formGroup]="item" [isDisabled]="isDisabled" [formType]="formType"></app-victim-service-worker>
        </div>
    </section>
</div>