.separator-div {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.add-additional-btn-container {
    margin-bottom: 10px;
    text-align: right;
}

.flex-col {
    display: flex;
}

.remove-button {
    padding-left: 10px;
}

.center-clear-btn {
    padding-top: 10px;
}

.other-gender-container {
    display: inline-block;
}

.full-width {
    width: 100%;
}
