.separator-div {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.add-additional-btn-container {
    margin-bottom: 10px;
    text-align: right;
}

.flex-col {
    display: flex;
}

.remove-button {
    text-align: right;
    padding-right: 15px;
}

.center-clear-btn {
    padding-top: 10px;
}

.other-gender-container {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.additional-offender-info {
    background-color: #e9ecef;
    border-radius: 0.3rem;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
