.add-additional-btn-container {
    margin-bottom: 10px;
    text-align: right;
}

.date-container {
    display: flex;
}

.start-date-container {
    width: 49%;
    margin-right: 10px;
}

.end-date-container {
    width: 49%;
}

.end-date-span {
    display: flex;
}

.tick-span {
    margin-right: 10px;
}

.court-date-info {
    background-color: #e9ecef;
    border-radius: 0.3rem;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.remove-button {
    text-align: right;
    padding-right: 15px;
}