.add-additional-btn-container {
    margin-bottom: 10px;
    text-align: right;
}

.date-container {
    display: flex;
}

.start-date-container {
    width: 49%;
    margin-right: 10px;
}

.end-date-container {
    width: 49%;
}

.end-date-span {
    display: flex;
}

.tick-span {
    margin-right: 10px;
}
