<div [formGroup]="form">
    <div class="page-header mb-0">
        <h1>Applicant Information</h1>
    </div>

    <section class="radio-list per-line">
        <app-field label="I am the:" [required]="true" [valid]="isMyControlValid(form.get('applicantType'))" errorMessage="Please select one" [disabled]="isDisabled">
            <label>
                <input type="radio" [value]="enum.ApplicantType.Victim.val" name="applicantType" formControlName="applicantType" (change)="applicantTypeChange()">
                {{enum.ApplicantType.Victim.name}}
            </label>
            <label *ngIf="formType === ApplicationType.TRAVEL_FUNDS">
                <input type="radio" [value]="enum.ApplicantType.Victim_Service_Worker.val" name="applicantType" formControlName="applicantType" (change)="applicantTypeChange()">
                {{enum.ApplicantType.Victim_Service_Worker.name}}
            </label>
            <label *ngIf="formType === ApplicationType.TRAVEL_FUNDS">
                <input type="radio" [value]="enum.ApplicantType.Support_Person.val" name="applicantType" formControlName="applicantType" (change)="applicantTypeChange()">
                {{enum.ApplicantType.Support_Person.name}}
            </label>
            <label *ngIf="formType === ApplicationType.TRAVEL_FUNDS">
                <input type="radio" [value]="enum.ApplicantType.Immediate_Family_Member.val" name="applicantType" formControlName="applicantType" (change)="applicantTypeChange()">
                {{enum.ApplicantType.Immediate_Family_Member.name}}
            </label>
            <label *ngIf="formType === ApplicationType.NOTIFICATION">
                <input type="radio" [value]="enum.ApplicantType.Civil_Protected_Party.val" name="applicantType" formControlName="applicantType" (change)="applicantTypeChange()">
                {{enum.ApplicantType.Civil_Protected_Party.name}}
            </label>
            <label *ngIf="formType === ApplicationType.NOTIFICATION">
                <input type="radio" [value]="enum.ApplicantType.Victim_Parent.val" name="applicantType" formControlName="applicantType" (change)="applicantTypeChange()">
                {{enum.ApplicantType.Victim_Parent.name}}
            </label>
            <label *ngIf="formType === ApplicationType.NOTIFICATION">
                <input type="radio" [value]="enum.ApplicantType.Other_Family_Member.val" name="applicantType" formControlName="applicantType" (change)="applicantTypeChange()">
                {{enum.ApplicantType.Other_Family_Member.name}}
            </label>
        </app-field>
    </section>

    <ng-container *ngIf="form.get('applicantType').value === enum.ApplicantType.Other_Family_Member.val">
        <div class="row">
            <div class="col-md-6">
                <app-field label="Please indicate relationship" [required]="true" [disabled]="isDisabled" [valid]="isMyControlValid(form.get('applicantTypeOther'))" errorMessage="Please enter a relationship">
                    <input class="form-control" type="text" formControlName="applicantTypeOther" maxlength="100">
                </app-field>
            </div>
        </div>
    </ng-container>


    <ng-container *ngIf="form.get('applicantType').value === enum.ApplicantType.Victim_Service_Worker.val">
        <p>Please provide details about your request. Why is travel in this case required? Please list exceptional/unique circumstances (e.g., case characteristics, victimization dynamics, lack of victim support program in the court location):</p>
        <div class="row">
            <div class="col-md-12">
                <app-field label="Comments" [disabled]="isDisabled">
                    <textarea class="form-control bigger" formControlName="vswComment" maxlength="500"></textarea>
                </app-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <app-field label="Are these travel costs able to be covered (in full or in part) by your Victim Service Program operating budgets?" errorMessage="Please select one" [valid]="isMyControlValid(form.get('coveredByVictimServiceProgram'))" [disabled]="isDisabled">
                    <label class="inline-label">
                        <input type="radio" [value]="enum.Boolean.True.val" name="coveredByVictimServiceProgram" formControlName="coveredByVictimServiceProgram">
                        <span>Yes</span>
                    </label>
                    <label class="inline-label">
                        <input type="radio" [value]="enum.Boolean.False.val" name="coveredByVictimServiceProgram" formControlName="coveredByVictimServiceProgram">
                        <span>No</span>
                    </label>
                </app-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <app-field label="Comments" [disabled]="isDisabled">
                    <input class="form-control" type="text" formControlName="coveredByVictimServiceProgramComment" maxlength="100">
                </app-field>
            </div>
        </div>

        <div formArrayName="victimServiceWorker" *ngFor="let item of form.get('victimServiceWorker')['controls']; let i = index;">
            <div [formGroupName]="i" class="vsw-info">
                <div class="row">
                    <div class="col-md-6">
                        <app-field label="Manager First Name" [required]="false" [valid]="isMyControlValid(item.get('firstName'))" errorMessage="Please enter your manager's first name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="firstName" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col-md-6">
                        <app-field label="Manager Last Name" [required]="false" [valid]="isMyControlValid(item.get('lastName'))" errorMessage="Please enter your manager's last name" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="lastName" maxlength="100">
                        </app-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-field label="Organization / Agency Name" [required]="false" [valid]="isMyControlValid(item.get('organization'))" errorMessage="Please enter your manager's organization / agency" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="organization" maxlength="100">
                        </app-field>
                    </div>
                    <div class="col-md-6">
                        <app-field label="Manager Phone" [required]="false" [valid]="isMyControlValid(item.get('telephone'))" errorMessage="Please enter your manager's phone number" [disabled]="isDisabled">
                            <input class="form-control" mask='000-000-0000' type="text" formControlName="telephone" maxlength="100">
                        </app-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-field label="Manager Email" [required]="false" [valid]="isMyControlValid(item.get('email'))" errorMessage="Please enter your manager's email address" [disabled]="isDisabled">
                            <input class="form-control" type="text" formControlName="email" maxlength="100">
                        </app-field>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="form.get('applicantType').value === enum.ApplicantType.Support_Person.val">
        <div class="row">
            <div class="col-md-6">
                <app-field label="My relationship to the victim is:" [required]="true" [disabled]="isDisabled" [valid]="isMyControlValid(form.get('supportPersonRelationship'))" errorMessage="Please enter a relationship">
                    <input class="form-control" type="text" formControlName="supportPersonRelationship" maxlength="100">
                </app-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-field label="The victim has already submitted a Victim Travel Fund application:" errorMessage="" [disabled]="isDisabled">
                    <label class="inline-label">
                        <input type="radio" [value]="enum.MultiBoolean.True.val" name="victimAlreadySubmitted" formControlName="victimAlreadySubmitted" (change)="victimAlreadySubmittedChange()">
                        <span>Yes</span>
                    </label>
                    <label class="inline-label">
                        <input type="radio" [value]="enum.MultiBoolean.False.val" name="victimAlreadySubmitted" formControlName="victimAlreadySubmitted" (change)="victimAlreadySubmittedChange()">
                        <span>No</span>
                    </label>
                    <label class="inline-label">
                        <input type="radio" [value]="enum.MultiBoolean.Undecided.val" name="victimAlreadySubmitted" formControlName="victimAlreadySubmitted" (change)="victimAlreadySubmittedChange()">
                        <span>I don't know</span>
                    </label>
                </app-field>
            </div>
        </div>
        <div class="row" *ngIf="form.get('victimAlreadySubmitted').value === enum.MultiBoolean.Undecided.val">
            <div class="col-md-6">
                <app-field label="Comments" [disabled]="isDisabled">
                    <input class="form-control" type="text" formControlName="victimAlreadySubmittedComment" maxlength="100">
                </app-field>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="form.get('applicantType').value === enum.ApplicantType.Immediate_Family_Member.val">
        <div class="row">
            <div class="col-md-6">
                <app-field label="My relationship to the victim is:" [required]="true" [disabled]="isDisabled" [valid]="isMyControlValid(form.get('IFMRelationship'))" errorMessage="Please enter a relationship">
                    <input class="form-control" type="text" formControlName="IFMRelationship" maxlength="100">
                </app-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <app-field label="There are other members of my family who are also applying to the Victim Travel Fund:" errorMessage="" [disabled]="isDisabled">
                    <label class="inline-label">
                        <input type="radio" [value]="enum.MultiBoolean.True.val" name="otherFamilyAlsoApplying" formControlName="otherFamilyAlsoApplying" (change)="otherFamilyAlsoApplyingChange()">
                        <span>Yes</span>
                    </label>
                    <label class="inline-label">
                        <input type="radio" [value]="enum.MultiBoolean.False.val" name="otherFamilyAlsoApplying" formControlName="otherFamilyAlsoApplying" (change)="otherFamilyAlsoApplyingChange()">
                        <span>No</span>
                    </label>
                    <label class="inline-label">
                        <input type="radio" [value]="enum.MultiBoolean.Undecided.val" name="otherFamilyAlsoApplying" formControlName="otherFamilyAlsoApplying" (change)="otherFamilyAlsoApplyingChange()">
                        <span>I don't know</span>
                    </label>
                </app-field>
            </div>
        </div>
        <div class="row" *ngIf="form.get('otherFamilyAlsoApplying').value === enum.MultiBoolean.Undecided.val">
            <div class="col-md-6">
                <app-field label="Comments" [disabled]="isDisabled">
                    <input class="form-control" type="text" formControlName="otherFamilyAlsoApplyingComment" maxlength="100">
                </app-field>
            </div>
        </div>
    </ng-container>

    <h2 class="blue-header mt-0">Applicant Information</h2>

    <div [class.is-disabled]="isDisabled" *ngIf="formType === ApplicationType.NOTIFICATION">
        <label class="inline-label inline-checkbox">
            <input type="checkbox" [value]="true" name="applicantInfoSameAsVictim" formControlName="applicantInfoSameAsVictim" (change)="setApplicantInfoSameAsVictim(form.parent)">
            <span>Select if the applicant's name is the same as Victim / Civil Protected Party in the Case Information section</span>
        </label>
    </div>

    <div class="row">
        <div class="col-md-4">
            <app-field label="First Name" [required]="true" [valid]="isMyControlValid(form.get('firstName'))" errorMessage="Please enter your first name" [disabled]="isDisabled" [tooltipReference]="formType === ApplicationType.TRAVEL_FUNDS ? nameTemplate : ''">
                <input class="form-control" type="text" formControlName="firstName" maxlength="100" (change)="setVictimInfoSameAsApplicant(form.parent)">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Middle Name" [required]="false" [valid]="isMyControlValid(form.get('middleName'))" errorMessage="Please enter your middle name" [disabled]="isDisabled" [tooltipReference]="formType === ApplicationType.TRAVEL_FUNDS ? nameTemplate : ''">
                <input class="form-control" type="text" formControlName="middleName" maxlength="100" (change)="setVictimInfoSameAsApplicant(form.parent)">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Last Name" [required]="true" [valid]="isMyControlValid(form.get('lastName'))" errorMessage="Please enter your last name" [disabled]="isDisabled" [tooltipReference]="formType === ApplicationType.TRAVEL_FUNDS ? nameTemplate : ''">
                <input class="form-control" type="text" formControlName="lastName" maxlength="100" (change)="setVictimInfoSameAsApplicant(form.parent)">
            </app-field>
        </div>
        <ng-template #nameTemplate>If you may be eligible for funding for air travel, please enter your name exactly as it shows on your travel ID (e.g. passport, drivers license)</ng-template>
    </div>

    <div class="row">
        <div class="col-md-6 date-col">
            <app-field label="Birth Date" [required]="true" [valid]="isMyControlValid(form.get('birthDate'))" errorMessage="Please enter your birth date" [disabled]="isDisabled" (change)="setVictimInfoSameAsApplicant(form.parent)">
                <app-date-field [control]="form.get('birthDate')" [max]="today" [disabled]="form.get('applicantInfoSameAsVictim').value"></app-date-field>
            </app-field>
        </div>

        <div class="col flex-col">
            <app-field label="Gender" [required]="formType === ApplicationType.TRAVEL_FUNDS" [valid]="isMyControlValid(form.get('gender'))" errorMessage="Please select your gender" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="enum.Gender.Male.val" name="gender" formControlName="gender" (change)="setVictimInfoSameAsApplicant(form.parent)">
                    <span>M</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.Gender.Female.val" name="gender" formControlName="gender" (change)="setVictimInfoSameAsApplicant(form.parent)">
                    <span>F</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.Gender.X.val" name="gender" formControlName="gender" (change)="setVictimInfoSameAsApplicant(form.parent)">
                    <span>X <app-tool-tip [trigger]="genderXToolTip"></app-tool-tip></span>
                </label>
            </app-field>
        </div>
    </div>
    <ng-template #genderXToolTip>Use this category if you do not wish to indicate your gender as exclusively male or female. It includes persons who report as being unsure of their gender, persons who report as both male and female, or neither male nor female.</ng-template>

    <div class="row">
        <div class="col-md-4">
            <app-field label="Preferred Language" [required]="false" [valid]="isFieldValid('preferredLanguage')" errorMessage="" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="preferredLanguage" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Interpreter Needed" errorMessage="" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="enum.Boolean.True.val" name="interpreterNeeded" formControlName="interpreterNeeded">
                    <span>Yes</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.Boolean.False.val" name="interpreterNeeded" formControlName="interpreterNeeded">
                    <span>No</span>
                </label>
            </app-field>
        </div>
    </div>

    <app-address [group]="form.get('address')" [lookupData]="lookupData" [showChildrenAsRequired]="true" (change)="copyApplicantAddressToDeligate(form.parent, formType)" [disabled]="isDisabled"></app-address>

    <div class="row">
        <div class="col">
            <label *ngIf="formType === ApplicationType.NOTIFICATION">May we send correspondence and notification information to the above address? (if no, please provide your email address below):</label>
            <label *ngIf="formType === ApplicationType.TRAVEL_FUNDS">May we send correspondence to the above address?</label>
            <app-field label="" errorMessage="" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="enum.Boolean.True.val" name="mayWeSendCorrespondence" formControlName="mayWeSendCorrespondence">
                    <span>Yes</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enum.Boolean.False.val" name="mayWeSendCorrespondence" formControlName="mayWeSendCorrespondence">
                    <span>No</span>
                </label>
            </app-field>
        </div>
    </div>

    <p *ngIf="formType === ApplicationType.NOTIFICATION">Please list one or more methods of contact (telephone / cellular / email) in order of preference and indicate if we may leave a detailed message (e.g. our organization name, phone number, case information, notification details):</p>
    <p *ngIf="formType === ApplicationType.TRAVEL_FUNDS">Please list <strong>one or more</strong> methods of contact in order of preference and indicate if we may leave a detailed message (e.g. our organization name, phone number, case or travel information):</p>
    <p *ngIf="formType === ApplicationType.TRAVEL_FUNDS"><strong>If we need to send travel confirmations and itineraries to you, please ensure that your email address is listed below as one of your preferred contact methods.</strong></p>

    <div class="contactMethods" formArrayName="contactMethods" *ngFor="let item of form.get('contactMethods')['controls']; let i = index;">
        <app-contact-method [formGroup]="item" [formGroupName]="i" [number]="i" [parent]="form" [disabled]="isDisabled"></app-contact-method>
    </div>

    <app-field [valid]="isFieldValid('atLeastOneContactMethod')" errorMessage="At least one method of contact must be allowed to leave a message" [disabled]="isDisabled">
        <input type="hidden" name="atLeastOneContactMethod" formControlName="atLeastOneContactMethod">
    </app-field>
</div>