<div [formGroup]="form">
    <div class="page-header mb-0">
        <h1>Applicant Information</h1>
    </div>

    <section class="radio-list per-line">
        <app-field label="I am the:" [required]="true" [valid]="isMyControlValid(form.get('applicantType'))" errorMessage="Please select one" [disabled]="isDisabled">
            <label>
                <input type="radio" [value]="EnumHelper.ApplicantType.Victim.val" name="applicantType" formControlName="applicantType" (change)="setApplicantTypeOtherRequired(false)">
                Victim
            </label>
            <label *ngIf="formType === ApplicationType.TRAVEL_FUNDS">
                <input type="radio" [value]="EnumHelper.ApplicantType.Support_Person.val" name="applicantType" formControlName="applicantType" (change)="setApplicantTypeOtherRequired(false)">
                Support Person
            </label>
            <label *ngIf="formType === ApplicationType.TRAVEL_FUNDS">
                <input type="radio" [value]="EnumHelper.ApplicantType.Immediate_Family_Member.val" name="applicantType" formControlName="applicantType" (change)="setApplicantTypeOtherRequired(false)">
                Immediate family member of the deceased victim
            </label>
            <label *ngIf="formType === ApplicationType.NOTIFICATION">
                <input type="radio" [value]="EnumHelper.ApplicantType.Civil_Protected_Party.val" name="applicantType" formControlName="applicantType" (change)="setApplicantTypeOtherRequired(false)">
                Civil Protected Party
            </label>
            <label *ngIf="formType === ApplicationType.NOTIFICATION">
                <input type="radio" [value]="EnumHelper.ApplicantType.Victim_Parent.val" name="applicantType" formControlName="applicantType" (change)="setApplicantTypeOtherRequired(false)">
                Victim's Parent / Guardian
            </label>
            <label *ngIf="formType === ApplicationType.NOTIFICATION">
                <input type="radio" [value]="EnumHelper.ApplicantType.Other_Family_Member.val" name="applicantType" formControlName="applicantType" (change)="setApplicantTypeOtherRequired(true)">
                Other Family Member
                <span *ngIf="showOtherApplicantType" class="applicant-type-other-container">
                    : <input class="form-control" type="text" formControlName="applicantTypeOther" maxlength="100" [class.has-error]="!isMyControlValid(form.get('applicantTypeOther'))">
                </span>
            </label>
        </app-field>
    </section>

    <!-- TODO update this field -->
    <!-- <ng-container *ngIf="form.get('applicantType').value === EnumHelper.ApplicantType.Support_Person.val">
        <app-field label="The victim has already submitted a Victim Travel Fund application:" errorMessage="" [disabled]="isDisabled">
            <label class="inline-label">
                <input type="radio" [value]="EnumHelper.MultiBoolean.True.val" name="interpreterNeeded" formControlName="interpreterNeeded">
                <span>Yes</span>
            </label>
            <label class="inline-label">
                <input type="radio" [value]="EnumHelper.MultiBoolean.False.val" name="interpreterNeeded" formControlName="interpreterNeeded">
                <span>No</span>
            </label>
            <label class="inline-label">
                <input type="radio" [value]="EnumHelper.MultiBoolean.Undecided.val" name="interpreterNeeded" formControlName="interpreterNeeded">
                <span>I don't know</span>
            </label>
        </app-field>

        <app-field *ngIf="form.get('').value === EnumHelper.MultiBoolean.Undecided.val" label="Comments" [required]="true" [valid]="isMyControlValid(form.get('firstName'))" errorMessage="Please enter your first name" [disabled]="isDisabled">
            <input class="form-control" type="text" formControlName="firstName" maxlength="100">
        </app-field>
    </ng-container> -->


    <h2 class="blue-header mt-0">Applicant Information</h2>

    <div [class.is-disabled]="isDisabled">
        <label class="inline-label inline-checkbox">
            <input type="checkbox" [value]="true" name="applicantInfoSameAsVictim" formControlName="applicantInfoSameAsVictim" (change)="setApplicantInfoSameAsVictim(form.parent)">
            <span>Select if the applicant's name is the same as Victim / Civil Protected Party in the Case Information section</span>
        </label>
    </div>

    <div class="row">
        <div class="col-md-4">
            <app-field label="First Name" [required]="true" [valid]="isMyControlValid(form.get('firstName'))" errorMessage="Please enter your first name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="firstName" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Middle Name" [required]="false" [valid]="isMyControlValid(form.get('middleName'))" errorMessage="Please enter your middle name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="middleName" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Last Name" [required]="true" [valid]="isMyControlValid(form.get('lastName'))" errorMessage="Please enter your last name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="lastName" maxlength="100">
            </app-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 date-col">
            <app-field label="Birth Date" [required]="true" [valid]="isMyControlValid(form.get('birthDate'))" errorMessage="Please enter your birth date" [disabled]="isDisabled">
                <app-date-field [control]="form.get('birthDate')" [max]="today" [disabled]="form.get('applicantInfoSameAsVictim').value"></app-date-field>
            </app-field>
        </div>

        <div class="col flex-col">
            <app-field label="Gender" [required]="false" [valid]="isMyControlValid(form.get('gender'))" errorMessage="Please select your gender" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.Male.val" name="gender" formControlName="gender" (change)="showOtherGender(false)">
                    <span>M</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.Female.val" name="gender" formControlName="gender" (change)="showOtherGender(false)">
                    <span>F</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Gender.X.val" name="gender" formControlName="gender" (change)="showOtherGender(true)">
                    <span>X <app-tool-tip [trigger]="genderXToolTip"></app-tool-tip></span>
                </label>
            </app-field>
        </div>
    </div>
    <ng-template #genderXToolTip>Use this category if you do not wish to indicate your gender as exclusively male or female. It includes persons who report as being unsure of their gender, persons who report as both male and female, or neither male nor female.</ng-template>

    <div class="row">
        <div class="col-md-4">
            <app-field label="Preferred Language" [required]="false" [valid]="isFieldValid('preferredLanguage')" errorMessage="" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="preferredLanguage" maxlength="100">
            </app-field>
        </div>
        <div class="col-md-4">
            <app-field label="Interpreter Needed" errorMessage="" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Boolean.True.val" name="interpreterNeeded" formControlName="interpreterNeeded">
                    <span>Yes</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="EnumHelper.Boolean.False.val" name="interpreterNeeded" formControlName="interpreterNeeded">
                    <span>No</span>
                </label>
            </app-field>
        </div>
    </div>

    <app-address [group]="form.get('address')" [lookupData]="lookupData" [showChildrenAsRequired]="true" (change)="copyApplicantAddressToDeligate(form.parent)" [disabled]="isDisabled"></app-address>

    <div class="row">
        <div class="col">
            <app-field label="May we send correspondence and notification information to the above address? (if no, please provide your email address below):" errorMessage="" [disabled]="isDisabled">
                <label class="inline-label">
                    <input type="radio" [value]="enumHelper.Boolean.True.val" name="mayWeSendCorrespondence" formControlName="mayWeSendCorrespondence">
                    <span>Yes</span>
                </label>
                <label class="inline-label">
                    <input type="radio" [value]="enumHelper.Boolean.False.val" name="mayWeSendCorrespondence" formControlName="mayWeSendCorrespondence">
                    <span>No</span>
                </label>
            </app-field>
        </div>
    </div>

    <p>Please list one or more methods of contact (telephone / cellular / email) in order of preference and indicate if we may leave a detailed message (e.g. our organization name, phone number, case information, notification details):</p>

    <div class="contactMethods" formArrayName="contactMethods" *ngFor="let item of form.get('contactMethods')['controls']; let i = index;">
        <app-contact-method [formGroup]="item" [formGroupName]="i" [number]="i" [parent]="form" [disabled]="isDisabled"></app-contact-method>
    </div>

    <app-field [valid]="isFieldValid('atLeastOneContactMethod')" errorMessage="Please enter at least one contact method" [disabled]="isDisabled">
        <input type="hidden" name="atLeastOneContactMethod" formControlName="atLeastOneContactMethod">
    </app-field>

</div>