<div class="movements-container">
  <div class="row mt-5">
    <div class="col">
      <p><strong>State Transitions</strong></p>
    </div>
  </div>

  <div class="row" *ngIf="client_details.stateTransitions.length > 0">
    <div class="col">
      <table class="table table-striped">
        <thead class="thead">
          <th>Date</th>
          <th>Type</th>
          <th>Sub-Type</th>
          <th>Description</th>
        </thead>

        <tbody>
          <tr *ngFor="let transition of client_details.stateTransitions">
            <td>{{transition.eventDate | date}}</td>
            <td>{{transition.activityType.code}}</td>
            <td>{{transition.activitySubType.code}}</td>
            <td>{{transition.activityReason.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>