.additional-info-container {
    margin-top: 15px;
    background-color: #38598a;
    border-bottom: solid 2px #ffcc00;
    color: #fff;
    margin-bottom: 20px;
    padding: 30px;
    padding-top: 20px;
    h2,
    h3 {
        color: #fff;
    }
    button {
        width: 100%;
    }
}