<div class="additional-info-container learn-benefits">
    <div class="additional-info">
        <h3>More information about the Victim Safety Unit</h3>
        <p>If you have any questions or need help filling out this form, please contact us:</p>
        <p>
            Telephone: 604-660-0316<br>
            Toll Free: 1-877-315-8822<br>
            Fax: 604-660-0335<br>
            Email: <a href="mailto: vsug@gov.bc.ca" class="white-link">vsug@gov.bc.ca</a><br>
        </p>
        <p>
            Mailing address:<br>
            #312 - 815 Hornby St.<br>
            Vancouver, BC | V6Z 2E6<br>
        </p>
        <p>Victim Service Working (VSW) / VictimLinkBC Contact: 1-800-563-0808</p>
        <p><button class="btn btn-secondary btn-wrappable" (click)="downloadPDF()">DOWNLOAD PDF OF FORM</button></p>
        <p><button class="btn btn-secondary btn-wrappable" (click)="window.location.href='https://www2.gov.bc.ca/gov/content/justice/criminal-justice/bcs-criminal-justice-system/if-you-are-a-victim-of-a-crime/victim-of-crime/victim-notification';"><i class="fas fa-chevron-left"></i> GO BACK TO VSU HOME</button></p>
    </div>
</div>