<div class="form-wrapper" style="position: relative;">
  <div>
    <div>
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="page-header">
            <h1>Victim Safety Unit</h1>
          </div>
          <div *ngIf="isIE" class="alert alert-danger">
            <p>It looks like you are using an unsupported browser.</p>
            <p>For best results, we recommend you use Chrome, Firefox, Edge, or Safari.</p>
          </div>
          <p><strong>We recommend Google Chrome for best results.</strong></p>
          <div>
            You've stumbled on a page that is meant to be inaccessible.
          </div>

          <div *ngIf="isLocalHost">
            <label style="display: block; padding-top: 80px;">These only show when running locally - quick links to other forms</label>
            <button [routerLink]="'/notification_applicaiton'" class="btn btn-primary mr-2">Notification Application</button>
            <button [routerLink]="'/victim_travel_fund_applicaiton'" class="btn btn-primary mr-2">VTF Application</button>
            <button [routerLink]="'/victim_travel_fund_reimbursement'" class="btn btn-primary mr-2">VTF Reimbursement</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>