.subject-information-container {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.bc-corrections-info-container {
    padding-top: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.community-info-container {
    padding-top: 1.8rem;
}
