<div>
    <div class="page-header mb-0">
        <h1>Overview</h1>
    </div>

    <p>Victims of crime (and their immediate family members as defined by the
        <a href="https://www.bclaws.ca/civix/document/id/complete/statreg/96478_01" target="_blank" title="Victims of Crime Act">Victims of Crime Act</a>) can apply to the
        Victim Safety Unit (VSU) to receive ongoing notifications about the status of an adult accused / offender
        who is going through the criminal court process in British Columbia or is being supervised by BC
        Corrections. Persons named as a protected party on a criminal protection order (such as a peace bond or
        probation order), or civil protected parties named on a
        <a href="https://www.bclaws.ca/civix/document/id/complete/statreg/11025_09" target="_blank" title="Family Law Act order">Family Law Act order</a>,
        can also apply to receive notifications.
    </p>

    <div class="collection-notice-container">
        <h3>Collection Notice</h3>
        <p>The Victim Services and Crime Prevention Division, Victim Safety Unit, will collect your personal information for the purpose of providing you with 
            services authorized by the Victims of Crime Act in accordance with section 26(c) of the Freedom of Information and Protection of Privacy Act (FoIPPA). 
            Your personal information will also be collected as per section 26(e) of FoIPPA in order to evaluate the program to better serve you. 
            Should you have any questions about the collection of your personal information, please contact the Victim Safety Unit Manager at 
            (604) 660-0316 or 1-877-315-8822 (toll-free) or at Victim Services and Crime Prevention Division, #312-815 Hornby St., Vancouver, BC, V6Z 2E6.
        </p>
    </div>

    <p>Please complete this application form to the best of your ability. If you require assistance in completing
        the form, please contact us, your
        <a href="https://www2.gov.bc.ca/gov/content/justice/criminal-justice/bcs-criminal-justice-system/understanding-criminal-justice/key-parts/victim-services/victim-service-workers" target="_blank" title="Victim Service Worker">Victim Service Worker (VSW)</a>, or
        <a href="https://www2.gov.bc.ca/gov/content/justice/criminal-justice/victims-of-crime/victimlinkbc" target="_blank" title="VictimLinkBC">VictimLinkBC</a> at 1-800-563-0808.
        VSU staff will contact you once your application has been received to confirm your contact information and to discuss your eligibility to receive notifications.
    </p>
</div>