<div id="notificationBanner">
  <span *ngFor="let notification of currentNotifications" [@fadeAnimation]="'in'">
    <div *ngIf="notification.type===levels[0]" class="alert alert-danger alert-dismissible mb-1" role="alert">
      <i class="fas fa-exclamation-circle mr-2"></i><strong>{{notification.message}}</strong>
      <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </div>

    <div *ngIf="notification.type===levels[1]" class="alert alert-warning alert-dismissible mb-1" role="alert">
      <i class="fas fa-exclamation-triangle mr-2"></i>
      <strong>{{notification.message}}</strong>
      <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </div>

    <div *ngIf="notification.type===levels[2]" class="alert alert-success alert-dismissible mb-1" role="alert">
      <i class="fas fa-check-circle mr-2"></i>
      <strong>{{notification.message}}</strong>
      <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </div>
  </span>
</div>
