<div id="notificationBanner">
  @for (notification of currentNotifications; track notification) {
    <span [@fadeAnimation]="'in'">
      @if (notification.type===levels[0]) {
        <div class="alert alert-danger alert-dismissible mb-1" role="alert">
          <i class="fas fa-exclamation-circle mr-2"></i><strong>{{notification.message}}</strong>
          <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>
      }
      @if (notification.type===levels[1]) {
        <div class="alert alert-warning alert-dismissible mb-1" role="alert">
          <i class="fas fa-exclamation-triangle mr-2"></i>
          <strong>{{notification.message}}</strong>
          <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>
      }
      @if (notification.type===levels[2]) {
        <div class="alert alert-success alert-dismissible mb-1" role="alert">
          <i class="fas fa-check-circle mr-2"></i>
          <strong>{{notification.message}}</strong>
          <button (click)="close(notification)" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>
      }
    </span>
  }
</div>
