/* You can add global styles to this file, and also import other style files */

/* Controls Survey styles */

@import "~@angular/material/theming";
@import "~mygovbc-bootstrap-theme/dist/mygovbc-bootstrap-theme.min.css";
@include mat-core();
$primary: mat-palette($mat-grey, 400);
$accent: mat-palette($mat-indigo, 500, A200, A400);
$warn: mat-palette($mat-red, 500);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
body {
  color: #494949;
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #494949;
  font: MyriadWebPro, Calibri, Arial, "sans serif";
  /*width: 99%;*/
}

html {
  background: #f2f2f2;
}

.btn {
  min-width: 120px;
  font-size: 16px;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.42857143;
}

.btn.btn-primary {
  background-color: #38598a;
  border: #38598a 1px solid;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: rgba(0, 51, 102, 1) !important;
  color: #ffffff;
  border-color: #204d74;
  border-radius: 5px;
}

.btn.btn-secondary {
  background-color: #fff;
  border: #ccc 1px solid;
  color: #003366;
}

.btn-secondary:hover {
  background-color: #f2f2f2;
}

.btn-secondary:focus {
  border-color: #ccc;
  box-shadow: 0 0 0 0.2rem #ccc;
}

.btn-outline-primary {
  color: #38598a;
  border-color: #38598a;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #38598a;
  border-color: #38598a;
}

.btn-outline-primary:focus {
  color: #38598a;
  border-color: #38598a;
}

.btn-outline-primary:focus:hover {
  color: #fff;
  background-color: #38598a;
  border-color: #38598a;
}

.btn.btn-primary.sv_prev_btn {
  background-color: #ccc;
  border: #ccc 1px solid;
  color: #000;
  min-width: 120px;
  font-size: 16px;
  border-radius: 5px;
}

.btn.btn-primary.sv_prev_btn:hover {
  background-color: #2f567b !important;
  color: #ffffff;
  border-color: #204d74;
  border-radius: 5px;
}

.ctx-home {
  background: #f2f2f2;
}

.panel-footer {
  background-color: #fff;
  border-top: none;
}

p {
  font-weight: Regular;
  font-size: 14px #494949;
}

h1 {
  font-weight: Semi-bold;
  font-size: 36px;
  color: #494949;
}

h2 {
  font-weight: Semi-bold;
  font-size: 24px;
  color: #494949;
}

h3 {
  font-size: 20px;
  color: #494949;
}

h4 {
  font-weight: Semi-bold;
  font-size: 16px;
  color: #494949;
}

h5 {
  font-size: 21px;
  color: #494949;
}

h3 span {
  font-size: 14px;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h2,
h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

input.form-control {
  &.date-picker {
    background-color: #fff;
  }
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
}

.form-control {
  font-size: 16px;
  display: inline-block;
}

.extra-padding-left {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 575.98px) {
  .extra-padding-left {
    margin-left: 0;
  }
}

@media (max-width: 575.98px) {
  .form-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.round-icon-wrapper {
  height: 48px;
  line-height: 55px;
  width: 48px;
  border-radius: 48px;
  background-color: #7596c8;
  text-align: center;
  display: inline-block;
}

.blue-header {
  background-color: #38598a;
  color: #fff;
  padding: 10px 7px 7px 15px;
  font-size: 16px;
  font-weight: semi-bold;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.error-states {
  color: #d8292f;
}

.error-summary {
  background-color: #f2f2f2;
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: #d8292f;
}

.form-wrapper {
  padding-left: 50px;
  padding-right: 30px;
}

.sticky-top {
  z-index: 1000 !important;
  background-color: white;
}

.continue-btn {
  float: right;
  margin-left: 10px !important;
}

.button-container {
  position: relative;
  margin: 30px 0 15px;
}

.white-icon {
  color: white !important;
}

.warning-message {
  margin-top: 5vh;
}

.hidden {
  display: none !important;
}

.right-buttons {
  float: right;
}

.print-button {
  margin-right: 10px;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
  .hide-for-print {
    display: none !important;
  }
  .contact-method-col {
    min-width: 250px;
  }
  .btn {
    display: none !important;
  }
}

.alert-success {
  color: #234720;
  background-color: #d9e7d8;
  border-color: #accbaa;
}

.alert-danger {
  color: #712024;
  background-color: #f7d8da;
  border-color: #eeaaad;
}

.alert-warning {
  color: #81692c;
  background-color: #fef4dd;
  border-color: #fce8b4;
}

.alert-info {
  color: #4e6478;
  background-color: #eaf2fa;
  border-color: #d1e3f4;
}

.alert-dismissible {
  padding-right: 4rem;
}

.alert {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.alert-dismissible .close {
  padding-top: 5px;
  color: inherit;
}

.close {
  float: right;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.7;
}

.date-col {
  min-width: 326px;
}

.is-disabled {
  opacity: 0.7;
  text-decoration: none;
  pointer-events: none;
}

.disabled-cursor {
  cursor: not-allowed;
}

.has-error {
  border: 1px solid red;
}

.tooltip-icon .fa {
  color: #21527e;
  margin-left: 2px;
}

.tooltip-inner {
  min-width: 300px;
  max-width: 425px;
  padding: 12px 20px;
  color: #fff;
  text-align: left;
  font-size: 14px;
  background-color: #21527e;
  border-radius: 0;
  border-bottom: 3px solid #fcba19;

  h3 {
    color: #fff;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  padding {
    line-height: 1.2em;
  }

  ul {
    padding-left: 14px;

    li {
      margin-bottom: 5px;
    }
  }
}

.field-disabled input {
  opacity: 0.7;
  text-decoration: none;
  pointer-events: none;
}

.field-disabled select {
  opacity: 0.7;
  text-decoration: none;
  pointer-events: none;
}

.field-disabled td {
  opacity: 0.7;
  text-decoration: none;
  pointer-events: none;
}

.white-link {
  color: white;
}

.white-link:hover {
  color: #79bff7;
}
