<div class="page-header">
    <h1>Confirmation</h1>
</div>

<p>Thank you for submitting a {{formType}} form. Please write down the following confirmation number for future reference</p>

<div class="confirmation-number-box mt-2 mb-5 d-flex justify-content-center">
    {{confirmationNumber}}
</div>

<div class="d-flex justify-content-center mb-3">
    <button (click)="print();" class="btn btn-outline-primary">PRINT SUBMITTED FORM FOR YOUR RECORDS</button>
</div>
<div class="d-flex justify-content-center">
    <button (click)="close();" class="btn btn-primary">CLOSE WINDOW</button>
</div>