<div class="movements-container">
  <div class="row mt-5">
    <div class="col">
      <p><strong>Offences</strong></p>
    </div>
  </div>

  <div class="row" *ngIf="client_details.authorityDocuments.length > 0">
    <div class="col">
      <table class="table table-striped">
        <thead class="thead">
          <th class="file-number-col">File #</th>
          <th class="sequence-number-col">Seq #</th>
          <th class="court-col">Court</th>
          <th class="document-type-col">Doc Type</th>
          <th class="act-col">Act</th>
          <th class="section-col">Section</th>
          <th class="sucsection-col">Sub.</th>
          <th class="description-col">Description</th>
          <th class="exipry-col">Expiry</th>
        </thead>

        <tbody>
          <ng-container *ngFor="let authDoc of client_details.authorityDocuments">
            <tr *ngFor="let charge of authDoc.chargeCounts">
              <td>{{charge.fileNumber}}</td>
              <td>{{charge.countSeqNo}}</td>
              <td>{{authDoc.courtLocationDescription}}</td>
              <td>{{authDoc.documentTypeCode}}</td>
              <td>{{charge.statuteAct}}</td>
              <td>{{charge.statuteSectionNo}}</td>
              <td>{{charge.statuteSubsectionParagraph}}</td>
              <td>{{charge.statuteDescription}}</td>
              <td>{{authDoc.expiryDate | date}}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>