.file-number-col {
    min-width: 85px;
}
.sequence-number-col {
    min-width: 55px;
}
.court-col {
    min-width: 55px;
}
.document-type-col {
    min-width: 80px;
}
// .act-col {
    
// }
// .section-col {
    
// }
// .sucsection-col {
    
// }
// .description-col {
    
// }
// .exipry-col {
    
// }