<div class="form-wrapper" style="position: relative;">
    <div class="row" [formGroup]="form">
        <div class="col-lg-3 col-sm-12 application-gutter" [class.hidden]="showPrintView">
            <h3>Notification Application Form</h3>
            <section class="application-nav sticky-top">
                <div>
                    <mat-vertical-stepper [linear]="true" (selectionChange)="gotoPage($event)" #stepper>
                        <ng-template matStepperIcon="edit">
                            <mat-icon>done</mat-icon>
                        </ng-template>
                        <ng-template matStepperIcon="error">
                            <mat-icon>clear</mat-icon>
                        </ng-template>
                        <ng-template matStepperIcon="number">
                        </ng-template>
                        <mat-step label="Overview" [stepControl]="fb.group({})" [hasError]="!isMyControlValid(form.get('overview'))"></mat-step>
                        <mat-step label="Case Information" [stepControl]="fb.group({})" [hasError]="!isMyControlValid(form.get('caseInformation'))"></mat-step>
                        <mat-step label="Applicant Information" [stepControl]="fb.group({})" [hasError]="!isMyControlValid(form.get('applicantInformation'))"></mat-step>
                        <mat-step label="Notification Recipient & Details" [stepControl]="fb.group({})" [hasError]="!isMyControlValid(form.get('recipientDetails'))"></mat-step>
                        <mat-step label="Declaration & Authorization" [stepControl]="fb.group({})" [hasError]="!isMyControlValid(form.get('authorizationInformation'))"></mat-step>
                        <mat-step label="Confirmation" *ngIf="showConfirmation" [stepControl]="fb.group({})"></mat-step>
                    </mat-vertical-stepper>


                    <div class="additional-info-container learn-benefits">
                        <div class="additional-info">
                            <h3>More information about the Victim Safety Unit</h3>
                            <p>If you have any questions or need help filling out this form, please contact us:</p>
                            <p>
                                Telephone: 604-660-0316<br>
                                Toll Free: 1-877-315-8822<br>
                                Fax: 604-660-0335<br>
                                Email: <a href="mailto: vsug@gov.bc.ca" class="white-link">vsug@gov.bc.ca</a><br>
                            </p>
                            <p>
                                Mailing address:<br>
                                #312 - 815 Hornby St.<br>
                                Vancouver, BC | V6Z 2E6<br>
                            </p>
                            <p>Victim Service Working (VSW) / VictimLinkBC Contact: 1-800-563-0808</p>
                            <p><button class="btn btn-secondary btn-wrappable" (click)="downloadPDF()">DOWNLOAD PDF OF FORM</button></p>
                            <p><button class="btn btn-secondary btn-wrappable" (click)="window.location.href='https://www2.gov.bc.ca/gov/content/justice/criminal-justice/bcs-criminal-justice-system/if-you-are-a-victim-of-a-crime/victim-of-crime/victim-notification';"><i class="fas fa-chevron-left"></i> GO BACK TO VSU HOME</button></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div id="pdfPrintGroup" [class.col-12]="showPrintView" class="col-lg-7 col-sm-12">
            <form [formGroup]="form">
                <div *ngIf="isIE" class="alert alert-danger warning-message">
                    <p>It looks like you are using an unsupported browser.</p>
                    <p>For best results, we recommend you use Chrome, Firefox, Edge, or Safari.</p>
                </div>

                <app-overview *ngIf="this.currentFormStep == 0 || showPrintView"></app-overview>

                <div class="pagebreak"> </div>
                <app-case-information [formGroup]="form" formGroupName="caseInformation" [lookupData]="lookupData" [isDisabled]="showConfirmation" *ngIf="this.currentFormStep == 1 || showPrintView"></app-case-information>

                <div class="pagebreak"> </div>
                <app-applicant-information [formGroup]="form" formGroupName="applicantInformation" [lookupData]="lookupData" [isDisabled]="showConfirmation" *ngIf="this.currentFormStep == 2 || showPrintView"></app-applicant-information>

                <div class="pagebreak"> </div>
                <app-recipient-details [formGroup]="form" formGroupName="recipientDetails" [lookupData]="lookupData" [isDisabled]="showConfirmation" *ngIf="this.currentFormStep == 3 || showPrintView"></app-recipient-details>

                <div class="pagebreak"> </div>
                <app-authorization [formGroup]="form" formGroupName="authorizationInformation" [isDisabled]="showConfirmation" *ngIf="this.currentFormStep == 4 || showPrintView"></app-authorization>

                <div *ngIf="showValidationMessage" class="error-summary">
                    <i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i>
                    <span>There are errors with some fields on this page. Please scroll up to review and fix the errors (marked in red) before continuing.</span>
                </div>

                <div class="pagebreak"> </div>
                <app-confirmation [formType]="formType" [confirmationNumber]="form.get('confirmation.confirmationNumber').value" (showPrintView)="showPrintView = $event" *ngIf="stepper.selectedIndex == 5"></app-confirmation>

                <section class="button-container" *ngIf="!showPrintView">
                    <span class="right-buttons">
                        <button (click)="submit();" class="btn btn-primary continue-btn" [class.disabled]="submitting" *ngIf="stepper.selectedIndex == 4 && !showConfirmation">SUBMIT</button>
                        <button (click)="gotoNextStep(stepper);" class="btn btn-primary continue-btn" *ngIf="stepper.selectedIndex < 4 || (stepper.selectedIndex == 4 && showConfirmation)">{{stepper.selectedIndex === 0 ? 'START APPLICATION' : 'CONTINUE'}} <i class="fas fa-chevron-right"></i></button>
                        <button (click)="gotoPreviousStep(stepper);" class="btn btn-primary continue-btn" *ngIf="stepper.selectedIndex > 0 && !showConfirmation"><i class="fas fa-chevron-left"></i> BACK</button>
                    </span>
                </section>
            </form>
        </div>
    </div>
</div>