<div class="movements-container">
  <div class="row mt-5">
    <div class="col">
      <p><strong>Victim Information</strong></p>
    </div>
  </div>

  <div class="row" *ngIf="client_details.victimContacts.length > 0">
    <div class="col">
      <table class="table table-striped">
        <thead class="thead">
          <th>Name</th>
          <th>Relationship</th>
          <th>View Victim Details</th>
        </thead>

        <tbody>
          <tr *ngFor="let victim of client_details.victimContacts">
            <td>{{victim.personFullName}}</td>
            <td>{{victim.victimToPersonRelationship}}</td>
            <td>[Not yet implemented]</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>