<div class="movements-container">
  <div class="row mt-5">
    <div class="col">
      <p><strong>Movements</strong></p>
    </div>
  </div>

  <div class="row" *ngIf="client_details.movements.length > 0">
    <div class="col">
      <table class="table table-striped">
        <thead class="thead">
          <th>Date</th>
          <th>Time</th>
          <th>Type</th>
          <th>In/Out</th>
          <th>Movement Reason</th>
          <th>To</th>
          <th>Comment</th>
        </thead>

        <tbody>
          <tr *ngFor="let movement of client_details.movements">
            <td>{{movement.activityDate.val | date}}</td>
            <td>{{movement.activityDate.val.split(' ')[1]}}</td>
            <td>{{movement.activityCategory.description}}</td>
            <td>{{movement.activitySubCategory.code}}</td>
            <td>{{movement.activityReason.description}}</td>
            <td>{{movement.supervisionFacility.to || ''}}</td>
            <td>{{movement.activityDescription || ''}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>