<div [formGroup]="form">
    <div class="page-header mb-0">
        <h1>Case Information</h1>
    </div>

    <p>Your application to the Victim Travel Fund (VTF) has been approved. The maximum amount of funding that can be provided in relation to
        a case is $3,000.00. This funding limit may be distributed over multiple criminal court/Review Board hearing dates and is distributed
        between eligible applicants on a case. It includes expenses pre-booked by VSU plus expenses you or other applicants may be eligible for
        on a reimbursement basis.
    </p>

    <p>Reimbursement forms should be submitted within 90 days of your last travel dates. Where applicable, the Reimbursement form has been
        updated with pre-approved expenses.</p>


    <p>Please fill out the following form to your best ability. Required receipts, if any, can be uploaded at the Declaration & Authorization stage.</p>

    <div class="collection-notice-container">
        <h3>Collection Notice</h3>
        <p>The Victim Services and Crime Prevention Division, Victim Safety Unit, will collect your personal information for the purpose of providing you with 
            services and administering the Victim Travel Fund in accordance with section 26(c) of the Freedom of Information and Protection of Privacy Act (FoIPPA). 
            Your personal information will also be collected as per section 26(e) of the FoIPPA in order to evaluate the program to better serve you. 
            Should you have any questions about the collection of your personal information please contact the Victim Safety Unit Manager at 
            Victim Services and Crime Prevention Division, #312-815 Hornby St., Vancouver, BC, V6Z 2E6 or by phone at (604) 660-0316 or 1-877-315-8822 (toll-free).
        </p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-field label="VTF Case #" [required]="true" [valid]="isMyControlValid(form.get('vtfCaseNumber'))" errorMessage="Please enter your vtf case number" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="vtfCaseNumber" maxlength="100" (change)="caseInfoChange()" [class.input-valid]="isValid && didCheck" [class.input-invalid]="!isValid && didCheck">
            </app-field>
        </div>
        <div class="col-md-6 date-col">
            <app-field label="Birth Date" [required]="true" [valid]="isMyControlValid(form.get('birthDate'))" errorMessage="Please enter your birth date" [disabled]="isDisabled" (change)="caseInfoChange()">
                <app-date-field [control]="form.get('birthDate')" [max]="today" [class.input-valid]="isValid && didCheck" [class.input-invalid]="!isValid && didCheck"></app-date-field>
            </app-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <app-field label="First Name" [required]="true" [valid]="isMyControlValid(form.get('firstName'))" errorMessage="Please enter your first name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="firstName" maxlength="100" (change)="caseInfoChange()" [class.input-valid]="isValid && didCheck" [class.input-invalid]="!isValid && didCheck">
            </app-field>
        </div>
        <div class="col-md-6">
            <app-field label="Last Name" [required]="true" [valid]="isMyControlValid(form.get('lastName'))" errorMessage="Please enter your last name" [disabled]="isDisabled">
                <input class="form-control" type="text" formControlName="lastName" maxlength="100" (change)="caseInfoChange()" [class.input-valid]="isValid && didCheck" [class.input-invalid]="!isValid && didCheck">
            </app-field>
        </div>
    </div>

</div>